*{
  font-family: '', ;
}

body{
  max-width: ;
}

label,
p{
  color: rgb(136, 136, 136)
}

header{
  background-color: rgb(41, 55, 78);
  padding: 20px;
  text-align: center;
}

header h1{
  color: white;
}

legend{
  padding: 25px;
  font-weight: bold;
  font-size: 20px;
}

.container{
  padding: 7%;
}


.part1{
  text-align: center;
  margin-bottom: 30px;
}

.margin{
  height: auto;
  width: 100%;
  border-top: 5px solid rgb(41, 55, 78);
  border-bottom: 3px solid rgb(41, 55, 78);
  padding: 3px
}

.top label{
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
}

.top input,
.top select{
  width: 90%;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background: rgb(227,235,235);
  line-height: 1px;
}

.top select{
  max-width: 100%;
  width: 100%;
  color: rgb(136,136,136);
}

input{
  text-align: left;
  transition-duration: .5s;
}



hr{
  border: solid black 3px;
}


.bottom label{
  margin-left: 8px;
  margin-bottom: 8px;
  display: inline-block;
}

.bottom label:last-child{
  margin-left: 0;
}

.text{
  margin-top: 8px;
  margin-bottom: 20px;
}

textarea{
  max-width: 100%;
  border: none;
  border-radius: 5px;
  background: rgb(230,235,235);
  width: 100%;
  margin-top: 8px;
}

button{
  width: 100%;
  background: rgb(45,200,170);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 30px 0;
  font-size: 20px;
}

.copy{
  text-align: center;
}

.container{
  background: rgb(250,234,135);
}


fieldset{
  border: none;
}


@media screen and (min-width: 768px){
  .top label{
    display: inline-block;
  }

  .container{
    width: 50%;
    margin: auto;
    padding-top: 50px;
  }

  .input{
    
  }
}
